{% extends 'dupa/base_paragon.html' %}

{% block content %}
    <div class="container">



	{% for i in qs %}
	    <div class="row">
		      <div class="col-md-4">

	<a href={{ i.image.url }} >
	      	<img src={{ i.image.url }} alt="Mountain View" style="width:304px;height:228px;">
		</a>
	<br>

	<br>






			</div>
		        <div class="col-md-4">
		
				asdasdfas <br>
				asdfasf <br>
				asdasdfas <br>
	   			asdfasf <br>
				sdfas <br>
			     	asdfasf <br>
				dasdfas <br>
				asdfasf <br>
				fas <br>
				asdfasf <br>
				ias<br>
	         		sdfasf <br>
				dasdfas <br>
				asdfasf <br>
				sdasdfas <br>
	      			asdfasf <br>
				asdasdfas <br>
	           		asdfasf <br>

			</div>
			  <div class="col-md-4">  
				  {{ i.image_data }}
			  </div>
	    </div>
	    <hr>
	{% endfor %}

    </div> <!-- /container -->













    {% endblock %}


	    {% block jquery %}
			  
			   {% endblock %}

			   {% block dupa %} {% endblock %}

